.list-item-fool-wrapper{
  width: calc(100% / 6);
  height: 400px;
  margin: 10px;
  border: 1px solid;
  border-radius: 8px;
  border-color: #07070767;
  }

.list-item-wrapper {
  height: 240px;
  overflow: hidden;
}


.list-item-name{
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  color: #252626;
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
}

.list-item-author{
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  color: #0f5252;
  margin-left: 10px;
  height: 40px;
  font-weight: 600;
}

.list-item-background{
  height: 240px;
  width: 100%;
  padding: 2px;

}

.list-item-likes{
  margin-left: 10px;
  font-size: 22px;
  margin-top: 2px;
  color: brown;
}

.list-item-likes-number{
  margin-left: 10px;
  color: rgb(0, 0, 0);
}

.list-item-likes-information{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}