.search-panel-wrapper {
  border: 1px solid;
  border-radius: 8px;
  width: 250px;
  height: 100%;
  background-color: #efefef;
}

.search-panel-input {
  background-color: #efefef;
  border: 0;
}

.search-panel-input:focus {
  background-color: #efefef;
  border: 0;
}

.search-panel-icon {
  margin: 5px;
}

.main-menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 18px;
  font-weight: 500;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

  width: min(90%, 70rem);

  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  background-color: #efefef;
}

.main-menu-item {
  cursor: pointer;
  margin-bottom: 0;
}

.active {
  color: #3e99ed;
  ;
}